header {
  background: royalblue;
  padding: 0.5rem;
  position: relative;
  color: var(--color-white);
}

header > div {
  position: absolute;
  right: 15px;
  top: 10px;
  height: 100%;
  color: var(--color-white-7-5);
}

header > div > small {
  position: absolute;
  font-size: 0.5rem;
  bottom: 20px;
  right: 0;
  color: var(--color-white-2-5);
}
