* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-size: 16px;
  padding: 1.5rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 0.5rem 0;
}

form {
  display: flex;
}

input[type='text'] {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  border-style: none;
  background: rgba(128, 128, 128, 0.1);
  font-size: 1.75rem;
  color: rgba(128, 128, 128, 0.75);
  outline: none;
}

ul {
  list-style: none;
}

hr {
  margin: 0.5rem 0;
}

button {
  outline: none;
  padding: 0.5rem;
  min-width: 100px;
  border: rgba(128, 128, 128, 0.25) solid 1px;
  cursor: pointer;
  /* letter-spacing: 2.5px; */
}
